.store_25{
  .code{
     color: black;
  }
  .acc-show{
    display: inline-block;
  }
  .bottom-panel{
    .logo-altroconsumo, .logo-else-corp{
      position: absolute;
      bottom: 50px;
      width: auto;
      height: 50px;
    }
  }
}