.store_25{

  @font-face {
    font-family: 'Lato';
    src: url(../img/accenture/fonts/Lato-Regular.ttf);
    font-weight: normal;
  }
  @font-face {
    font-family: 'Lato';
    src: url(../img/accenture/fonts/Lato-Black.ttf);
    font-weight: 600;
  }

  .page{
    background: url(../img/accenture/bcgd-app.png) no-repeat center;
    background-size: cover;
  }
  .page-session-code{
    background-image: url(../img/accenture/bcgd-qr_code.png);
  }
  .code{
     color: black;
  }
  .acc-show{
    display: inline-block;
  }
  .bottom-panel{
    .logo-altroconsumo, .logo-else-corp{
      position: absolute;
      bottom: 50px;
      width: auto;
      height: 50px;
    }
  }
  .accenture-logo-img{
    margin-bottom: 1.2rem;
  }
  .acc-logos{
    height: 50px;
  }
  .acc-header{
    background: rgb(147,0,254);
    background: -moz-linear-gradient(left, rgb(147,0,254) 0%, rgb(76,0,160) 100%);
    background: -webkit-linear-gradient(left, rgb(147,0,254) 0%,rgb(76,0,160) 100%);
    background: linear-gradient(to right, rgb(147,0,254) 0%,rgb(76,0,160) 100%);
    .box-shadow(inset 0 -6px 0 0 #00ff00);
  }
  .header-start{
    .vr-stylish-text{
      font-size: 1.5rem;
      color: white;
      margin-left: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 600;
    }
  }
  .configurator-block{
    border: 3px solid black;
    background-color: white;
    .title{
      width: 100% !important;
      color: white;
      border-radius: 0 !important;
      background: rgb(147,0,254);
      background: -moz-linear-gradient(left, rgb(147,0,254) 0%, rgb(76,0,160) 100%);
      background: -webkit-linear-gradient(left, rgb(147,0,254) 0%,rgb(76,0,160) 100%);
      background: linear-gradient(to right, rgb(147,0,254) 0%,rgb(76,0,160) 100%);
      &.acc-title{
        width: 100%;
        border-radius: 0 !important;
        background: rgb(147,0,254);
        background: -moz-linear-gradient(left, rgb(147,0,254) 0%, rgb(76,0,160) 100%);
        background: -webkit-linear-gradient(left, rgb(147,0,254) 0%,rgb(76,0,160) 100%);
        background: linear-gradient(to right, rgb(147,0,254) 0%,rgb(76,0,160) 100%);
        &.wl-title{
          border-bottom: none;
        }
      }
    }
  }
  .materials-color-block{
    .material-name{
      color: black;
    }
  }
  .colors-block{
    top: calc(~"10vh + 20px");
    right: 127px;
  }
  .configurator-block{
    .component.active{
      .active-item-rotating-green-round();
    }
    .component.control-active{
      .active-item-rotating-green-round();
    }
  }
  .material-head.active {
    .active-item-rotating-green-round();
  }
  .configurable-parts-block{
    margin-top: 20px;
  }
  .element-border{
    background: white;
    border: 5px solid black;
    img:not(.collection-img){
      display: none;
    }
  }
  #product-list-screen {
    button.name{
      font-family: "Lato", sans-serif;
      font-weight: 600;
      margin: -4px auto 0 auto;
      background: white;
      border: 5px solid black;
    }
    .element.active{
      button.name{
        background: rgb(147,0,254);
        background: -moz-linear-gradient(left, rgb(147,0,254) 0%, rgb(76,0,160) 100%);
        background: -webkit-linear-gradient(left, rgb(147,0,254) 0%,rgb(76,0,160) 100%);
        background: linear-gradient(to right, rgb(147,0,254) 0%,rgb(76,0,160) 100%);
        color: #00ff00;
      }
    }
    .bottom-panel{
      img{
        height: 50px;
      }
    }
    .elsa-container{
      top: 150%;
      margin: 0;
    }
  }
  #product-details-screen,
  #customer-order-screen,
  #material-screen,
  #preview-screen,
  #part-preview
  {
    .summary-block, .prices .price p[class$='-price']{
      color: black !important;
    }
  }
  .acc-stylish-title{
    color: rebeccapurple;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 2rem;
  }
  .user_name{
    text-decoration: underline;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
  }
  .colors-block{
    .color.active {
      border: solid #00ff00 !important;
      animation: blink 1s linear infinite alternate;
      box-shadow: 0 0 1px 1px #00ff00;
    }
  }
  .acc-hidden{
    display: none;
  }
}