.store_25{
  .page{
    background: url(../img/accenture/bcgd-app.png) no-repeat center;
    background-size: cover;
  }
  .page-session-code{
    background-image: url(../img/accenture/bcgd-qr_code.png);
  }
  .code{
     color: black;
  }
  .acc-show{
    display: inline-block;
  }
  .bottom-panel{
    .logo-altroconsumo, .logo-else-corp{
      position: absolute;
      bottom: 50px;
      width: auto;
      height: 50px;
    }
  }
  .accenture-logo-img{
    margin-bottom: 1.2rem;
  }
  .acc-logos{
    height: 50px;
  }
}