.store_23{
  /* @font-face {
    font-family: 'Prelo';
    src: url(../img/altroconsumo/fonts/Prelo-Book.otf);
  } */
  .login{
    .fitting-size {
      background-image: url(../img/altroconsumo/icon-shoe.png);
      background-repeat: no-repeat;
      color: black;
      background-size: 50px 20px;
      background-position-y: bottom;
      width: 50px;
      height: 50px;
      margin-top: 15px;
      margin-right: 1rem;
    }
    .factor-score{
      background-image: url(../img/altroconsumo/frame-fitting-factor.png);
      color: black;
      background-size: 50px;
    }
    .user_name{
      color: #d3061a;
      text-shadow: none;
    }
  }


  .logo-elsa-neon{
    display:none;
  }
  .vr-stylish-text {
    font-size: 1.625rem;
    color: #d3061a;
    font-weight: bold;
    padding: 0;
  }
  .page-session-code {
    .box-shadow(inset 0 0 0 10px #d3061a);
    .logo-predit, .logo-chromium, .logo-else-neon{
      display: none;
    }
    .session-code{
      min-width: 25%;
      width: 100%;
      padding: 0;
    }
    .code{
      margin-top: 3rem;
       color: black;
     }
    .qr-code{
      margin-top: 0;
    }
    .bottom-panel{
      .vr-stylish-text{
        display: none;
      }
      .logo-altroconsumo, .logo-else-corp{
        position: absolute;
        bottom: 50px;
        width: auto;
        height: 50px;
      }
      .logo-altroconsumo{
        left: 38%;
      }
      .logo-else-corp{
        right: 38%;
      }
    }
  }
  #part-preview, #preview-screen, #material-screen,
  #customer-order-screen, #customer-profile-screen, #customer-fitting-screen{
    background: none;
    .box-shadow(inset 0 0 0 10px #d3061a);
    min-height: 100vh;
    .elsa-help-block{
      display: none;
    }
  }
  #customer-order-screen{
    .order-form{
      form{
        position: absolute;
        border-radius: 0px;
        right: 20px;
        width: 400px;
        padding: 35px;
        margin-top: 30px;
        background-color: #d3061a;
        input, select{
          background-color: white;
          color: black;
        }
      }
    }
  }
  .element-border{
    background: none;
    border: 5px solid black;
    img:not(.collection-img){
      display: none;
    }
  }
  #product-list-screen {
    .logo-chromium, .logo-else-neon, .logo-elsa-neon{
      display: none;
    }
    .logo-elsa-ac{
      position: relative;
      margin-top: 80vh;
      width: 100%;
      height: 100%;
    }
    button.name{
      margin: -4px auto 0 auto;
      background: white;
      border: 5px solid black;
    }
    .element.active{
      button.name{
        background-color: #d3061a;
        color: white;
      }
    }
    .bottom-panel{
      .vr-stylish-text{
        display: none;
      }
      .logo-altroconsumo, .logo-else-corp{
        position: absolute;
        bottom: 50px;
        width: auto;
        height: 50px;
      }
      .logo-altroconsumo{
        left: 38%;
      }
      .logo-else-corp{
        right: 38%;
      }
    }
  }
  #customer-fitting-screen{
    .user_profile_params{
      border: 2px solid black;
      background-color: white;
      .user_info_line{
        color: #d3061a;
      }
      .userscans{
        color: #d3061a;
        .box-shadow(none);
      }
    }
  }
  .ac-logo-img{
    width: 80%;
  }
}