#else-mainscreen-control{
    min-height: 100vh;

}

.top-panel{
    height: 30px;
    width: 100%;
    min-width: 100%;
    img{
        width: 100%;
        svg{
            width: 100%;
        }
    }
}
