*{
    .box-sizing(border-box);
}

#else-mainscreen-control{
    min-height: 100vh;
}

.top-panel{
    .logo-container{
        padding-top: 30px;
        background: top/100% url(../img/header.svg) no-repeat;
        .flex-container();
        .justify-content(space-between);
        .align-items(flex-start);
        position: relative;
    }
    .elsa-container {
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        .flex-container();
        .justify-content(center);
        .align-items(center);
        border: 1px solid rgb( 95, 236, 255 );
        background-color: rgb( 12, 88, 128 );
        border-radius: 7px;
        opacity: 0.65;
        width: 257px;
        height: 159px;
        img{
            height: 100%;
        }
    }
    width: 100%;
    min-width: 100%;
}

.bottom-panel{
    position: absolute;
    bottom: 0 ;
    left: 0 ;
    right: 0;
    width: 100%;
    max-width: 100%;
    padding-bottom: 27PX;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 30px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: bottom/100% url(../img/header.svg) no-repeat;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    z-index: 1;
    text-align: center;
    .logo-container{
        img{
            width: 220px;
        }
    }
}

.header {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    z-index: 999;
    .header-start{
        .flex-container();
        .align-items(center);
        width: auto;
        display: flex;
        font-size: 20px;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 70px;
        width: 100%;
        height: 50px;
        background-image: url(../img/header-divider.png);
        background-repeat: no-repeat;
    }
    #user_name{
        font-size: 32px;
        text-decoration: underline;
        color: #ffffff;
        text-shadow: 0 0 4px #009aff;
    }
}

.centered{
    margin: 0 auto;
}

.stylish-text {
    font-size: 44px;
    color: #0c5880;
    font-weight: bold;
    padding: 0px;
    margin: 0 20px 0 20px;
    -webkit-text-stroke: 1px white;
}
.logo-else{
    width: 250px;
    margin-right: auto;
}
.logo-micam{
    width: 250px;
    margin-left: auto;
}
.logo-chromium{
    width: 400px;
}


//M A T E R I A L S

.mat_velukid_10667 {
    background-image: url("../img/materials/mat_patent_10667.png")!important;
}
.mat_velukid_10668 {
    background-image: url("../img/materials/mat_velukid_10668.png")!important;
}
.mat_velukid_10675 {
    background-image: url("../img/materials/mat_velukid_10675.png")!important;
}
.mat_velukid_10683 {
    background-image: url("../img/materials/mat_velukid_10683.png")!important;
}
.mat_suede_beige {
    background-image: url("../img/materials/mat_suede_beige.png")!important;
}
.mat_suede_white {
    background-image: url("../img/materials/mat_suede_white.png")!important;
}
.mat_suede_blue {
    background-image: url("../img/materials/mat_suede_blue.png")!important;
}
.mat_suede_red {
    background-image: url("../img/materials/mat_suede_red.png")!important;
}
.mat_turquoise_blueshade {
    background-image: url("../img/materials/mat_turquoise_blueshade.png")!important;
}
.mat_turquoise_greenshade {
    background-image: url("../img/materials/mat_turquoise_greenshade.png")!important;
}
.mat_suede_black  {
    background-image: url("../img/materials/mat_suede_black.png")!important;
}
.mat_nappa_white  {
    background-image: url("../img/materials/mat_nappa_white.png")!important;
}
.mat_nappa_pink  {
    background-image: url("../img/materials/mat_nappa_pink.png")!important;
}
.mat_nappa_blue-navy  {
    background-image: url("../img/materials/mat_nappa_blue-navy.png")!important;
}
.mat_nappa_lightbeige  {
    background-image: url("../img/materials/mat_nappa_light-beige.png")!important;
}
.mat_nappa_gold  {
    background-image: url("../img/materials/mat_nappa_gold.png")!important;
}
.mat_nappa_red  {
    background-image: url("../img/materials/mat_nappa_red.png")!important;
}
.mat_nappa_black  {
    background-image: url("../img/materials/mat_nappa_black.png")!important;
}
.mat_patent_35  {
    background-image: url("../img/materials/mat_patent_35.png")!important;
}
.mat_patent_37  {
    background-image: url("../img/materials/mat_patent_37.png")!important;
}
.mat_patent_1  {
    background-image: url("../img/materials/mat_patent_1.png")!important;
}
.mat_patent_3  {
    background-image: url("../img/materials/mat_patent_3.png")!important;
}
.mat_patent_2  {
    background-image: url("../img/materials/mat_patent_2.png")!important;
}
.mat_patent_10667{
    background-image: url("../img/materials/mat_patent_10667.png")!important;
}
.mat_patent_10652{
    background-image: url("../img/materials/mat_patent_10652.png")!important;
}
.mat_patent_10653{
    background-image: url("../img/materials/mat_patent_10653.png")!important;
}
.mat_patent_10671{
    background-image: url("../img/materials/mat_patent_10671.png")!important;
}
.mat_patent_10675{
    background-image: url("../img/materials/mat_patent_10675.png")!important;
}
.mat_mirrorpatent_silver{
    background-image: url("../img/materials/mat_mirrorpatent_silver.png")!important;
}
.mat_mirrorpatent_gold{
    background-image: url("../img/materials/mat_mirrorpatent_gold.png")!important;
}
.mat_suede_indigo{
    background-image: url("../img/materials/mat_mirrorpatent_gold.png")!important;
}
.mat_suede_green{
    background-image: url("../img/materials/mat_suede_green.png")!important;
}
.mat_suede_light-grey{
    background-image: url("../img/materials/mat_suede_light-grey.png")!important;
}
.mat_suede_light-blue{
    background-image: url("../img/materials/mat_suede_lightblue.png")!important;
}
.mat_leather_black-man{
    background-image: url("../img/materials/mat_leather_black.png")!important;
}
.mat_leather_white-man{
    background-image: url("../img/materials/mat_leather_white.png")!important;
}
.mat_leather_bordeaux-man{
    background-image: url("../img/materials/mat_leather_bordeaux.png")!important;
}
.mat_leather_blue-navy-man{
    background-image: url("../img/materials/mat_leather_blue_navy.png")!important;
}
.mat_leather_dark-brown{
    background-image: url("../img/materials/mat_leather_darkbrown.png")!important;
}
.mat_leather_light-brown{
    background-image: url("../img/materials/mat_leather_lightbrown.png")!important;
}
.mat_patent-leather_black{
    background-image: url("../img/materials/mat_leather_black.png")!important;
}
.mat_patent-leather_white{
    background-image: url("../img/materials/mat_leather_white.png")!important;
}
.mat_grain-leather_dark-brown{
    background-image: url("../img/materials/mat_grainleather_dark-brown.png")!important;
}
.mat_grain-leather_light-brown{
    background-image: url("../img/materials/mat_grainleather_lightbrown.png")!important;
}
.mat_grain-leather_white{
    background-image: url("../img/materials/mat_grainleather_white.png")!important;
}
.mat_grain-leather_black{
    background-image: url("../img/materials/mat_grainleather_black.png")!important;
}
.mat_sole-leather_dark-blue{
    background-image: url("../img/materials/mat_sole-leather_dark-blue.png")!important;
}
.mat_suede_dark-beige{
    background-image: url("../img/materials/mat_suede_darkbeige.png")!important;
}

.active-item-rotating-round(){
    &:after{
        opacity: 1;
        content: '';
        @keyframes rotating {
            from {
                .rotate(0deg);
            }
            to {
                .rotate(360deg);
            }
        }
        .animation(rotating, 10s, linear, infinite);
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        position: absolute;
        min-width: 70px;
        min-height: 70px;
        background: url(../img/active-border.svg) no-repeat center;
    }
}

.w-80per{
    width: 80%;
}
.w-50per{
    width: 50%;
}
.w-60per{
    width: 60%;
}
.w-70per{
    width: 70%;
}