

#product-details-screen{
    background: url(../img/shadow-configurator.svg) no-repeat center, url(../img/bg.png) no-repeat 100%;
    background-size: cover;
}

.price-block{
    font-size: 13px;
    position: absolute;
    left: 20px;
    bottom: 24px;
    color: #696969;
    width: 263px;
    height: 283px;
    background-color: rgba( 12, 88, 128,0.651);
}
.price-block .delivery-time{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.price-block .prices{
    background-color: #fefefe;
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
