#product-details-screen{
    background: url(../img/shadow-configurator.svg) no-repeat center, url(../img/bg.png) no-repeat 100%;
    background-size: cover;
    .header{
        .logo-container{
            img{
                height: 100%;
                max-height: 110px;
            }
        }
    }
}

.model-name {
    text-align: left;

    width: 70%;
    color: #000000;
    font-weight: 600;
    font-size: 120%;
    background: #5fecff;
}
.model-name span {
    padding-top: 10px;
}

.price-block{
    font-size: 13px;
    position: absolute;
    left: 20px;
    bottom: 24px;
    color: #696969;
    .diff-prices-container{
        .blue-block();
        overflow: hidden;
        width: 263px;
        height: 283px;
        border-radius: 10px;
    }
    .delivery-time{
        margin-top: 20px;
        background-color: rgb( 0, 0, 0 );
        color: white;
        border-radius: 10px;
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
    .total-price{
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
}

.materials-color-block {
    .blue-block();
    top: 150px;
    width: 100px;
    height: 80%;
    position: absolute;
    border-radius: 10px;
    display: block;
    right: 50px;
    .title{
        background: #5fecff;
    }
}
.material-head.active{
    .colors-block{
        display: block;
    }
}
.material-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    margin: 10px 0;
    text-align: center;
}
.material-head {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
    width: 100%;
}

.price-block .prices{
    padding: 0 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-block p[class$='-price']{
    font-weight: 400;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
}

.header-start{
    .flex-container();
    .align-items(center);
    width: auto;
    display: flex;
    font-size: 20px;
}

.colors-block{

    -webkit-mask: url(../img/colors-block.svg) no-repeat 50% 50%;
    mask: url(../img/colors-block.svg) no-repeat 50% 50%;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    padding: 5px;
    width: 295px;
    height: 539px;
    position: absolute;
    top:0;
    background-color: white;
    left: -315px;
    display: none;
    text-align: start;
    .color {
        display: inline-block;
        box-shadow: 0 0 1px 1px black;
        z-index: 2000;
        background-position: center center;
        background-size: contain;
        border-radius: 50%;
        cursor: pointer;
        border: 0 solid rgb(0, 255, 242);
        width: 47px;
        height: 47px;
        margin: 5px;
    }
}

.material-start {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    right: 0;
    position: absolute;
}
.big-active-material {
    -webkit-mask: url(../img/material-mask.svg) no-repeat 50% 50%;
    mask: url(../img/material-mask.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #a9f9ff;
}

