.customer-fitting{
  background: url(../img/shadow-configurator.svg) no-repeat center, url(../img/bg.png) no-repeat 100%;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  .header{
    .header-start{
      .flex-container();
      .align-items(center);
      width: 23%;
      display: flex;
      font-size: 20px;
      .logo-container{
        img{
          height: 100%;
          max-height: 80px;
        }
      }
      .stylish-text{
        margin: 0;
        padding: 0;
      }
    }

  }
}