.customer-fitting {
  background: url(../img/shadow-configurator.svg) no-repeat center, url(../img/pi-apparel/bcgd_apparel.png) no-repeat no-repeat 100%;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;

  .scan-section {
    margin: -30px 0 20px;
  }

  .best-fit {
    .user_profile_params {
      width: 20%;
      min-width: 250px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      box-shadow: 0 0 10px #777777;
      margin: 20px 0 30px 10px;
      background-color: rgba(11, 73, 104, 0.72);
      z-index: -1;
      color: #ffffff;
      border-radius: 10px;
      .user_info_line {
        margin-bottom: 8px;
      }
    }
    .scans_elsa {
      .flex-container();
      .justify-content(space-between);
      .align-items(center);
      .flex-direction(row)
    }
  }
}


.store_20 {
  .customer-fitting {
    background: url(../img/shadow-configurator.svg) no-repeat center, url(../img/pi-apparel/bcgd_apparel.png) no-repeat no-repeat 100%;
    background-size: cover;
  }
}

.store_19, .store_18 {
  .customer-fitting {
    background: url(../img/bg.png) no-repeat 100%;
    background-size: cover;
  }
}

.store_23{
  .customer-fitting {
    background: none;
  }
}
.store_23{
  .factor-score{
    background-image: url(../img/altroconsumo/frame-fitting-factor.png);
  }
}
//.store_18, .store_19, .store_20{
//  .factor-score{
//    background-image: url(../img/frame-vr.png);
//  }
//}

#canvas_container_id.customer_fitting_view {
  width: 74%;
  left: 21%;
  top: 10%;
  z-index: 999;
}

.fitting-name {
  font-size: 24px;
  font-weight: 700;
  margin: 22px 30px 8px;
  &:after {
    content: " ";
    display: block;
    /* width: 100%; */
    /* height: 1px; */
    margin: 8px -29px 7px;
    border-bottom: 1.5px dotted grey;
  }
}

.block-virtual-fitting{
  width: 80%;
  min-width: 250px;
  height: 100%;
  padding: 19px 10px;
}

.product_info {
  .flex-container();
  .flex-direction(column);
  .align-items(stretch);
  .box-shadow(0 0 10px #777777);
  width: 100%;
  height: 100%;
  background-color: rgba(11, 73, 104, 0.72);
  z-index: -1;
  color: #ffffff;
  border-radius: .8rem;
  .product_name, .comparision_size, .comparision_score {
    margin: 8px auto;
    font-size: 20px;
  }
  .best_sizes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;

    background: url(../img/camera-view.png) no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;

    .prev_best_size {
      display: none; //can be changed later
      width: 18%;
      margin: 1%;
      padding: 15px;
      //display: flex;
      background-color: rgba(255, 255, 255, 0.15);
      flex-direction: column;
      align-items: center;
      img {
        width: auto;
        height: 60%;
        margin-top: 40%;
      }
    }
    .best_size.active {
      width: 58%;
      margin: 1%;
      padding: 15px;
      display: flex;
      background-color: rgba(255, 255, 255, 0.15);
      flex-direction: column;
      align-items: center;
    }
    .next_best_size {
      display: none; //can be changed later
      width: 18%;
      margin: 1%;
      padding: 15px;
      //display: flex;
      background-color: rgba(255, 255, 255, 0.15);
      flex-direction: column;
      align-items: center;
      img {
        width: auto;
        height: 60%;
        margin-top: 40%;
      }
    }
  }
  .comparision_score {
    display: flex;
    flex-direction: row;
    align-items: center;
    .factor-score {
      .flex-container();
      .justify-content(center);
      .align-items(center);
      color: #ffffff;
      //background-position: center;
      background-repeat: no-repeat;
      //background-size: 60px 56px;
      background-position-x: 50%;
      background-position-y: 90%;
      background-size: 80%;
      z-index: 99999;
      align-items: flex-start;
      height: 42px;
      font-size: 24px;
      width: 50px;
    }
  }
}

