#customer-profile-screen{
  background: url(../img/bg.png) no-repeat 100%;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  .header{
    .logo-container{
      img{
        height: 100%;
        max-height: 80px;
      }
    }

    #user_name{
      font-size: 32px;
      text-decoration: underline;
      color: #ffffff;
      text-shadow: 0 0 4px #009aff;
    }

  }
}

.your-scans_profile {margin: 35px 0 30px 30px;}



.best-fit {
  .user_profile_params{
      width: 50%;
      min-width: 250px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      box-shadow: 0 0 10px #777777;
      margin: 20px 10px 30px 10px;
      background-color: rgba(11, 73, 104, 0.72);
      z-index: -1;
      color: #ffffff;
      border-radius: 10px;
    .user_info_line {
      margin-bottom: 8px;
      margin-left: 30px;
    }
    .your-scans_profile{
      padding: 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 1em;
    }
  }
}
