.page-session-code{
  .session-code{
    min-width: 25%;
    width: 100%;
    padding: 5% 0;
  }
  .code {
    color: white;
    font-size: 1rem;
  }
  .logo-pwd-else {
    width: auto;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.store_20 {
  .session-code {
    background: url(../img/blue-border.svg), url(../img/pi-apparel/shadow-circle.png);
    background-size: auto 100% , auto 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo-chromium {
    content: url("../img/pi-apparel/pi-apparel-logo-white.png");
    width: auto;
    margin-bottom: 2%;
    height: 200px;
  }
}
.store_18 {
  .logo-chromium {
    margin: 40px;
    height: 20%;
  }
}
.store_18, .store_19 {
  .page-session-code {
    background: url(../img/header.svg), url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%, cover;
  }
  .session-code {
    background: url(../img/blue-border.svg), url(../img/circle-shadow.png), url(../img/white-shadow.png);
    background-size: auto 100% , auto 80%, auto 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.store_20 {
  .page-session-code {
    background: url(../img/header.svg), url(../img/pi-apparel/bcgd_apparel.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%, cover;
  }
}
.store_22{
  .page-session-code {
    background: url(../img/st-gallen/bcgd.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%, cover;
  }
}

.store_21{
  .code{
    color: #2d2d2d;
  }
}

.store_24{
  .code{
    color: #2d2d2d;
  }
}

.store_22{
  .code{
    color: #2d2d2d;
  }
}
