#stores-screen{
  .store-list {
    font-size: 1.4rem;
    .storeselect-heading{
      text-shadow: 0 0 4px #0064db;
      font-size: 2rem;
      font-family: Lato, Verdana, sans-serif;
      margin-bottom: 50px;
    }
  }
  .logo-else-neon {
    width: 254px;
    position: absolute;
    left: 50%;
    margin-left: -114px;
    top: 82vh;
    height: auto;
  }

  h2{
    color: #f2f2f2;
    text-shadow: 0 0 4px #0064db;
  }
  .bottom-panel{
    background: bottom/100% url(../img/header.svg) no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    padding: 0;
    background-position: top;
    .logo-pwd-else {
      width: auto;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}


.page-store-selection{
  background: url(../img/header.svg), url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%, cover;
  color: #f2f2f2;
  .store-list{
    z-index: 999;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

  }
}

.store {
  display: block;
  margin: 1rem;
  text-align: center;
  a{
    color: #f2f2f2;
    text-shadow: 0 0 4px #0064db;
  }
  a:hover {
    color: #0064DB;
  }
}