.vr-header{
  height: 10vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
.store_18, .store_19, .store_20{
  .logo-altroconsumo-big{
    display: none;
  }
  .vr-stylish-text {
    font-size: 1.625rem;
    color: #0c5880;
    font-weight: bold;
    padding: 0;
    -webkit-text-stroke: 1px white;
  }
  .text-blue-bordered{
    text-shadow: 0 0 4px #0064db;
  }
  .element{
    .name{ //better to add theme modificator class
      border: 1px solid #5FECFF;
      border-radius: .3rem;
      background-color: rgb(12, 88, 128);
      opacity: 0.65;
      color: white;
      margin: 70px auto 0 auto;
    }
  }
  .bottom-panel{
    &:before{
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 30px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: bottom/100% url(../img/header.svg) no-repeat;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
}

.store_18, .store_19, .store_20, .store_23{
  .header-start{
    .header-logo{
      flex: 1 1 20%;
    }
    .vr-stylish-text{
      flex: 2 2 80%;
    }
  }
}
