.vr-header{
  height: 10vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
.vr-stylish-text {
  font-size: 44px;
  color: #0c5880;
  font-weight: bold;
  padding: 0;
  margin: 0 auto;
  -webkit-text-stroke: 1px white;
}

.text-blue-bordered{
  text-shadow: 0 0 4px #0064db;
}