.store_25 {
  font-family: Verlog;
  .session-code-screen, .page-staff-login, .page-session-code, #product-list-screen, #product-config-nfc, #product-start-screen {
    //background: url(../img/accenture/bcgd-app.png) !important;
    background-color: white;
    background-size: contain;
  }
  .page-session-code {
    .session-code label {
      color: #000000;
      text-shadow: none;
    }
    .dark-silver-logo {
      display: block;
    }
    .stgallen-hidden {
      display: none;
    }
  }
  .virtual-catalog {
    .logo-section span {
      color: BLACK;
      margin-left: 24px;
    }
    .dark-silver-logo {
      display: block;
    }
    .stgallen-hidden {
      display: none;
    }
    .logo-logout {
      display: none;
    }
    .logout-block {
      background: url("../img/store-logout.png");
      background-position-x: right;
      background-position-y: center;
      background-size: 25px;
      background-repeat: no-repeat;
    }
    span.logout-text {
      margin-right: 33px;
    }
  }
  #product-start-screen {
    .collections {
      h2 {
        color: black;
        text-shadow: none;
      }
    }
  }
  .continue-to-configurator {
    font-family: "Verlog","Lato", sans-serif;
    font-weight: 600;
    background: #002145;
    border: none;
    //border: 5px solid black;
    box-shadow: #00000045 0px 5px 22px;
    color: white;
  }
  .element.active {
    box-shadow: inset 0 0 0 8px #00ffff;
  }
  #product-config-nfc {
    .nfc-config {
      background: none;
      .nfc-text{
        display: flex;
        width: 27%;
        JUSTIFY-CONTENT: CENTER;
        align-items: center;
        text-align: center;
        font-size: 22px;
        color: black;
        margin-bottom: 4%;
      }
    }
    .logout-text{
      color:black;
    }
  }
  #product-list-screen{
    .logout-block {
      background: none;
    }
  }
  .remote-controller-menu{

      .go-account, .go-order, .close{
        color: white;
        background-color: #002144;
        box-shadow: none;

    }
  }
  .register-block .register-button{
    background-color: #002144;
  }
  .order-button-block{
    .order{
      background: #002144;
    }
  }
  .save-changes, .button-logout, .foot_toggle label.active{
    background-color: #002144 !important;
  }
  .page-session-code .session-code {
    button,label,input{
      font-family: Verlag;
    }
  }
}
