.store_25 {
  .session-code-screen, .page-staff-login, .page-session-code, #product-list-screen {
    background: url(../img/accenture/bcgd-app.png) !important;
    background-size: contain;
  }
  .page-session-code{
    .session-code label{
      color: #000000;
      text-shadow: none;
    }
  }
  .virtual-catalog {
    .logo-section span {
      color: BLACK;
      margin-left: 24px;
    }
    .dark-silver-logo {
      display: block;
    }
    .stgallen-hidden {
      display: none;
    }
    .logo-logout {
      display: none;
    }
    .logout-block{
      background: url("../img/store-logout.png");
      background-position-x: right;
      background-position-y: center;
      background-size: 25px;
      background-repeat: no-repeat;
    }
    span.logout-text{
      margin-right: 33px;
    }
  }
}