* {
  .box-sizing(border-box);
}

#else-remotecontrol-control {
  width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}

#else-control {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

@maintext-color: #f2f2f2;

.controller-header {
  width: 100%;
  height: 8%;
  .flex-container();
  .align-items(flex-end);
  .justify-content(space-between);
  background-color: white;
}

.header-text {
  font-size: 24px;
  color: black;
  padding-left: 20px;
}

.inner-shadow() {
  .box-shadow(inset 0 0 0 10px #00ffff);
}

.default-cameras {
  padding: 20px 10px;
  .flex-container();
  .justify-content(center);
  .align-items(center);
  flex-direction: column;
  #camera {
    display: none;
  }
  .camera-view {
    position: absolute;
    background: url("../img/options/camera-remote.png") center no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  .camera-view.active {
    width: 50px;
    height: 50px;
    background: url("../img/options/camera-active.png") center no-repeat;
    border: none !important;
    background-size: 130%;
    box-shadow: none !important;
    border-bottom: 2px solid rgb(0, 255, 242);
  }
  .camera-view.cameraFRONT {
    bottom: 14%;
    left: 41%;
    transform: rotate(90deg);
  }
  .camera-view.cameraTOP {
    top: 14%;
    left: 41%;
    transform: rotate(-90deg);
  }
  .camera-view.camera-for-monogram {
    top: 29%;
    right: 37%;
    transform: rotate(-45deg);
  }
  .camera-view.cameraLEFT {
    bottom: 47%;
    right: 30%;
  }
  .camera-view.cameraLEFTp {
    bottom: 25%;
    right: 33%;
    transform: rotate(25deg);
  }
  .camera-view.cameraBOTTOM {
    bottom: 23%;
    left: 41%;
    transform: rotate(90deg);
  }
  .camera-view.cameraBACK {
    top: 24%;
    left: 41%;
    transform: rotate(-90deg);
  }
  .camera-view.cameraRIGHT {
    bottom: 47%;
    left: 18%;
    transform: rotate(180deg) scale(1, -1);
  }
  .camera-view.cameraRIGHTp {
    bottom: 25%;
    left: 18%;
    transform: rotate(-215deg) scale(1, -1);
  }
}

.back-to-config {
  .flex-container();
  .flex-direction(column);
  .justify-content(space-around);
  .align-items(center);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 17%;
  z-index: 99999999999;
}

.back-to-config-button {
  margin: 5px;
  width: 95%;
  height: 55px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
.qr-back{
  color: white;
  background-color: #000000;
  box-shadow: none;
  border: none;
  width: 35%;
}



.summary-footer {
  position: absolute;
  width: 100%;
  font-size: 18px;
  height: 30px;
  background-color: #FFFFFF;
  line-height: 25px;
  bottom: 1px;
}

.summary-footer div {
  display: inline-block;
}

.go-home {
  .flex-container();
  .flex-direction(row);
  .align-items(center);
  width: 40%;
  height: 100%;
  margin-left: 10px;
}

.mat_crystal_metallicblue{
  background-image: url("../img/materials/mat_crystal_metalicblue.png") !important;
}
.mat_crystal_rosegold{
  background-image: url("../img/materials/mat_crystal_metalliclightgold.png") !important;
}

.mat_velukid_10667 {
  background-image: url("../img/materials/mat_patent_10667.png") !important;
}

.mat_velukid_10668 {
  background-image: url("../img/materials/mat_velukid_10668.png") !important;
}

.mat_velukid_10675 {
  background-image: url("../img/materials/mat_velukid_10675.png") !important;
}

.mat_velukid_10683 {
  background-image: url("../img/materials/mat_velukid_10683.png") !important;
}

.mat_suede_beige-man {
  background-image: url("../img/materials/mat_suede_beige.png") !important;
}

.mat_suede_white-man {
  background-image: url("../img/materials/mat_suede_white.png") !important;
}

.mat_suede_beige {
  background-image: url("../img/materials/mat_suede_beige.png") !important;
}

.mat_suede_white {
  background-image: url("../img/materials/mat_suede_white.png") !important;
}

.mat_suede_blue {
  background-image: url("../img/materials/mat_suede_blue.png") !important;
}

.mat_suede_blue-electric {
  background-image: url("../img/materials/mat_suede_blue-electric.png") !important;
}

.mat_suede_red {
  background-image: url("../img/materials/mat_suede_red.png") !important;
}

.mat_suede_sky-blue {
  background-image: url("../img/materials/mat_suede_lightblue.png") !important;
}

.mat_turquoise_blueshade {
  background-image: url("../img/materials/mat_turquoise_blueshade.png") !important;
}

.mat_turquoise_greenshade {
  background-image: url("../img/materials/mat_turquoise_greenshade.png") !important;
}

.mat_suede_black-man {
  background-image: url("../img/materials/mat_suede_black.png") !important;
}
.mat_suede_black {
  background-image: url("../img/materials/mat_suede_black.png") !important;
}

.mat_nappa_white {
  background-image: url("../img/materials/mat_nappa_white.png") !important;
}

.mat_nappa_pink {
  background-image: url("../img/materials/mat_nappa_pink.png") !important;
}

.mat_nappa_blue-navy {
  background-image: url("../img/materials/mat_nappa_blue-navy.png") !important;
}

.mat_nappa_lightbeige {
  background-image: url("../img/materials/mat_nappa_light-beige.png") !important;
}

.mat_nappa_gold {
  background-image: url("../img/materials/mat_nappa_gold.png") !important;
}

.mat_nappa_red {
  background-image: url("../img/materials/mat_nappa_red.png") !important;
}

.mat_nappa_black {
  background-image: url("../img/materials/mat_nappa_black.png") !important;
}

.mat_patent_35 {
  background-image: url("../img/materials/mat_patent_35.png") !important;
}

.mat_patent_37 {
  background-image: url("../img/materials/mat_patent_37.png") !important;
}

.mat_patent_1 {
  background-image: url("../img/materials/mat_patent_1.png") !important;
}

.mat_patent_3 {
  background-image: url("../img/materials/mat_patent_3.png") !important;
}

.mat_patent_2 {
  background-image: url("../img/materials/mat_patent_2.png") !important;
}

.mat_patent_10667 {
  background-image: url("../img/materials/mat_patent_10667.png") !important;
}

.mat_patent_10652 {
  background-image: url("../img/materials/mat_patent_10652.png") !important;
}

.mat_patent_10653 {
  background-image: url("../img/materials/mat_patent_10653.png") !important;
}

.mat_patent_10671 {
  background-image: url("../img/materials/mat_patent_10671.png") !important;
}

.mat_patent_10675 {
  background-image: url("../img/materials/mat_patent_10675.png") !important;
}

.mat_patent_10679 {
  background-image: url("../img/materials/mat_patent_10679.png")!important;
}

.mat_mirrorpatent_silver {
  background-image: url("../img/materials/mat_mirrorpatent_silver.png") !important;
}

.mat_mirrorpatent_gold {
  background-image: url("../img/materials/mat_mirrorpatent_gold.png") !important;
}

.mat_suede_indigo {
  background-image: url("../img/materials/mat_suede_indigo.png") !important;
}

.mat_suede_green {
  background-image: url("../img/materials/mat_suede_green.png") !important;
}

.mat_suede_light-grey {
  background-image: url("../img/materials/mat_suede_light-grey.png") !important;
}

.mat_suede_light-blue {
  background-image: url("../img/materials/mat_suede_lightblue.png") !important;
}

.mat_leather_black-man {
  background-image: url("../img/materials/mat_leather_black.png") !important;
}

.mat_leather_white-man {
  background-image: url("../img/materials/mat_leather_white.png") !important;
}

.mat_leather_bordeaux-man {
  background-image: url("../img/materials/mat_leather_bordeaux.png") !important;
}

.mat_leather_blue-navy-man {
  background-image: url("../img/materials/mat_leather_blue_navy.png") !important;
}

.mat_leather_black {
  background-image: url("../img/materials/mat_leather_black.png") !important;
}

.mat_leather_white {
  background-image: url("../img/materials/mat_leather_white.png") !important;
}

.mat_leather_bordeaux {
  background-image: url("../img/materials/mat_leather_bordeaux.png") !important;
}

.mat_leather_blue-navy {
  background-image: url("../img/materials/mat_leather_blue_navy.png") !important;
}

.mat_leather_sky-blue {
  background-image: url("../img/materials/mat_leather_dark-blue.png") !important;
}

.mat_leather_dark-brown {
  background-image: url("../img/materials/mat_leather_darkbrown.png") !important;
}

.mat_leather_light-brown {
  background-image: url("../img/materials/mat_leather_lightbrown.png") !important;
}

.mat_patent-leather_black {
  background-image: url("../img/materials/mat_leather_black.png") !important;
}

.mat_patent-leather_white {
  background-image: url("../img/materials/mat_leather_white.png") !important;
}

.mat_grain-leather_dark-brown {
  background-image: url("../img/materials/mat_grainleather_dark-brown.png") !important;
}

.mat_grain-leather_light-brown {
  background-image: url("../img/materials/mat_grainleather_lightbrown.png") !important;
}

.mat_grain-leather_white {
  background-image: url("../img/materials/mat_grainleather_white.png") !important;
}

.mat_grain-leather_black {
  background-image: url("../img/materials/mat_grainleather_black.png") !important;
}

.mat_grain-leather_cobalt {
  background-image: url("../img/materials/mat_grainleather_cobalt.png") !important;
}

.mat_grain-leather_red {
  background-image: url("../img/materials/mat_grainleather_red.png") !important;
}

.mat_sole-leather_dark-blue {
  background-image: url("../img/materials/mat_sole-leather_dark-blue.png") !important;
}

.mat_suede_dark-beige {
  background-image: url("../img/materials/mat_suede_darkbeige.png") !important;
}

.profile-name {
  line-height: 1em;
}

.structures .structure {
  /* &.elsevr_women_1_1-1_structure_2 {
    display: none !important;
  }
  &.elsevr_women_1_1-1_structure_3 {
    display: none !important;
  }
  &.elsevr_women_1_1-1_structure_4 {
    display: none !important;
  }
  &.elsevr_women_1_1-1_structure_5 {
    display: none !important;
  }
  &.elsevr_women_1_1-2_structure_2 {
    display: none !important;
  }
  &.elsevr_women_1_1-2_structure_3 {
    display: none !important;
  }
  &.elsevr_women_1_1-2_structure_4 {
    display: none !important;
  }
  &.elsevr_women_1_1-2_structure_5 {
    display: none !important;
  }*/
  background-position: top 35% center;
  background-repeat: no-repeat;
  background-size: 50%;
}

// ---------------T Y P O G R A P H Y-----------//

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

//h1 for main title of header
h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

//h3 for header of helping blocks like materials
h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

//------  [END] T Y P O G R A P H Y [END]------//

//----------------- B L O C K S -----------------//

.header {
  .flex-container();
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.header-col {
  .flex-container();
  .align-items(center);
  padding: 0.5rem 1rem;
  position: relative;
}

.header-start {
  .justify-content(flex-start);
}

.header-middle {
  .justify-content(center);
}

.header-end {
  .justify-content(flex-end);
  .logo {
    text-align: right;
  }
}

.page {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  overflow: hidden;
}

.page-remote-screen,
.page-mainscreen {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.store-list {
  z-index: 999;
  .flex-container();
  .justify-content(center);
  .align-items(center);
  .flex-direction(column);
}

.qr-scanner{
  .flex-container();
  .justify-content(center);
  .align-items(center);
  .flex-direction(column);
  .back-to-config-button{
    position: absolute;
    top: 2%;
    right: 2%;
  }
}

.main{
  .flex-container();
  .flex-wrap(nowrap);
  .justify-content(space-between);
  height: 100vh;
  width: 100%;
}

.footer {

}

.logo {
  max-height: 27rem;
  .transition(all 0.2s);
  img {
    .object-fit(contain);
    max-height: 27rem;
    height: 100%;
    max-width: 100%;
  }
  &.logo-pwd {
    margin-top: auto;
    img {
      max-height: 8rem;

    }
  }
  &.header-logo {
    max-height: 100%;
    height: 100%;
    display: inline-block;
    img {
      max-height: 100%;
      height: 100%;
    }
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 1px solid transparent;
  &.button-block {
    display: block;
    width: 100%;
  }
  &.button-xxl {
    font-size: 2rem;
    padding: 1rem 1.3rem;
  }
  &.button-xl {
    font-size: 1.2rem;
  }
}

.qr-code {
  max-height: 14rem;
}

.go-else {
  video,
  img {
    max-height: 100%;
    height: 100%;
  }
}

//-------- [END] - B L O C K S - [END] ----------//

// ------- M O D I F I C A T O R S --------//

.h-10per {
  height: 10%;
}

.h-20per {
  height: 20%;
}

.h-30per {
  height: 30%;
}

.h-40per {
  height: 40%;
}

.h-50per {
  height: 50%;
}

.h-60per {
  height: 60%;
}

.h-70per {
  height: 70%;
}

.h-80per {
  height: 80%;
}

.h-90per {
  height: 90%;
}

.h-100per {
  height: 100%;
}

.centered-content {
  .flex-container();
  .align-items(center);
  .justify-content(center);
  .flex-direction(column);
}

.align-left {
  .justify-content(flex-start);
}

.align-middle {
  .justify-content(middle);
}

.align-right {
  .justify-content(flex-end);
}

// ---  S C R O L L --- //
.scroll-area::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.scroll-area::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dfdfdf;
}

.scroll-area::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.scroll-area {
  overflow-y: scroll;
  .flex-container();
  .flex-direction(column);
  height: 100%;
}

// --- END - S C R O L L - END --- //

// --- ICONS --- ///

.qr-icon, .fitt-icon, .material-icon, .product-part-icon, .advanced-icon, .rotation-icon, .wishlist-icon {
  background: center center no-repeat;
  background-size: contain;
  width: 34px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
.qr-icon{
  background-image: url("../img/options/qrcode.png");
}
.fitt-icon{
  background-image: url("../img/options/fitting.png");
}
.material-icon{
  background-image: url("../img/options/material.png");
}
.product-part-icon {
  background-image: url("../img/options/det_preview.png");
}
.advanced-icon {
  background-image: url("../img/options/preview.png");
}
.wishlist-icon{
  background-image: url("../img/options/wishlist_empty.png");
}
.order-icon {
  background: url("../img/options/order.png") center no-repeat;
  background-size: contain;
  margin-right: 10px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
}
