.configurator{
    width: 100%;
    height: 99%;
    display: flex;
    .flex-direction(column);
    .justify-content(flex-start);
    .align-items(center);
    background-color: #E8E8E8;
    .configurator-item{
        .flex-container();
        .align-items(center);
        .justify-content(flex-start);
        font-size: 0.9rem;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white;
        width: 95%;
        height: 58px;
        min-height: 58px;
        margin-left: 5px;
        margin-top: 5px;
        cursor: pointer;
        padding: 0;
    }
    .go-order{
        margin-top: auto;
        color: white!important;
        background-color: #000000!important;
        box-shadow: none;
        border: none;
        border-radius: 5px;
    }
    .elsa{
        margin-top: 10px;
        img{
            width: 200px;
            height: 200px;
        }
    }
    .wishlist-item{
        .flex-container();
        .align-items(center);
        width: 99%;
        height: 58px;
        .justify-content(space-around);
        margin-top: 5px;
        margin-left: -4px;
        .add-to-wishlist{
            .flex-container();
            .flex-direction(row);
            .align-items(center);
            font-size: 0.9rem;
            border: 1px solid black;
            border-radius: 4px;
            background-color: white;
            cursor: pointer;
            width: 30%;
            height: 58px;
            background-size: 40px
        }
        .view-wishlist{
            .flex-container();
            font-size: 0.9rem;
            border: 1px solid black;
            border-radius: 4px;
            background-color: white;
            height: 58px;
            min-height: 58px;
            cursor: pointer;
            width: 70%;
            .wishlist-list-icon{
                background: url("../img/options/wishlist_list.png");
                background-repeat:  no-repeat;
                width: 50px;
                height: 50px;
                background-size: 30px;
                background-position: center;
            }
        }
    }
}
.remote-controller-menu{
    border: none;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    z-index: 999;
    min-width: 175px;
    height: 100vh;
    width: 18%;
    background-color: #e8e8e8;
}

.product-config{
    color: #000000;
    display: flex;
    flex-direction: row;
    .components{
        width: 30%;
        margin-left:10px;
        overflow: scroll;
        .component{
            width: 100%;
            justify-content: flex-start;
        }
    }
    .components::-webkit-scrollbar, .colors::-webkit-scrollbar{
        width: 5px;
        background-color: #F5F5F5;
    }
    .components::-webkit-scrollbar-thumb,.colors::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #dfdfdf;
    }
    .components::-webkit-scrollbar-track,.colors::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: #ffffff;
    }
    .elements{
        &.metal{
            display: none!important;
        }
        &.elsevr_men_1_1_component_11 {
            display: none;
        }
        .element.metal.base {
            display: none;
        }
        width: 21%;
        flex:2;
        margin-right: 20px;
        .element{
            background-color: #E8E8E8;
            background-size: cover;
            color: #adaeae;
            cursor: pointer;
            font-size: 17px;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            margin-top: 5px;
            margin-bottom: 5px;
            min-height: 125px;
        }
    }
}
.structures{
    overflow: scroll;
    .structure.applique.elsevr_women_1_1-1_structure_3{
        display: none;
    }
}
.structures.elsevr_women_1_1-1_component_13{
    #structure-2{
        display: none !important;
    }
}

.structures::-webkit-scrollbar, .colors::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}
.structures::-webkit-scrollbar-thumb,.colors::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dfdfdf;
}
.structures::-webkit-scrollbar-track,.colors::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #ffffff;
}
.elements{
    &.metal{
        display: none!important;
    }
    .element.border.elsevr_women_1_1-1_structure_2{
        display: none;
    }
    .element.flower, .element.star{
        display: none;
    }
    width: 21%;
    flex:2;
    margin-right: 20px;
}
&.control-active{
    .inner-shadow();
}
.colors{
    position: absolute;
    width: 100%;
    left: 100%;
    top:0;
    margin: 0 10px;
    min-height: 122px;
    overflow: scroll;
}
.materials{
    width: 50%;
    position: relative;
}

.configuration-main{
    width: 100%;
    height: 92%;
    position: relative;
}

.product-config{
    position: relative;
}
.monogram{
    width: 50%;
    .monogram-area{
        .flex-container();
        .justify-content(center);
        flex-direction: column;
        .monogram-text{
            height: 50px;
            font-weight: bold;
            text-align: center;
            text-transform: capitalize;
            margin-top: 20px;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .monogram-option{
            label{
                margin-left: 10%;
                margin-right: 25px;
                height: 30px;
            }
            select{
                margin-right: 10%;
                font-size: 18px;
                width: 40%;
                height: 26px;
            }
            .flex-container();
            .justify-content(space-between);
            margin-top: 5px;
            height: 30px;
            font-size: 20px;
        }
    }
    .btn-apply-monogram{
        .flex-container();
        width: 60%;
        height: 40px;
        background: black;
        border: solid 1px white;
        border-radius: 20px;
        color: white;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        margin-left: 25%;
    }
}
.component,.structure, .material, .color{
    background-color: #E8E8E8;
    background-size: cover;
    color: #adaeae;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 125px;
}

.color{
    .color-label{
        margin-right: 40%;
        background-color: #E8E8E8;
        height: 40px;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        margin-bottom: 50px;
    }
}
.table-header {
    //margin-top: 5px;
    text-align: center;
    background-color: #ededed;
    display: block;
    width: 100%;
    height: 20px;
}

.structures{
    width: 21%;
    //margin: 0 10px;
    overflow: scroll;
}

//


.component{
    background-color: white !important;
    outline-offset: 1px;
    outline: 2px solid #E8E8E8;
    text-transform: capitalize;

}
.qrscanner{
    height: auto;
    color: black;
    align-items: center;
    flex-direction: column;
    .qrcode{
        height: 90px;
        margin-top: 10px;
    }
}



[class*='elsevr_women_1_1'][id*='component-']{
    min-height: 125px;
    &:before{
        margin-right: 3px;
        margin-left: 10%;
        content: '';
        z-index: 10;
        width: 60px;
        height: 60px;
        display: inline-block;
        background-size: 60px 60px;
    }

    &.upper{
        &:before{
            background-image: url(../img/components/w-upper.png);
        }
    }
    &.trim{
        &:before{
            background-image: url(../img/components/w-trim.png);
        }
    }
    &.strap{
        &:before{
            background-image: url(../img/components/w-strap.png);
        }
    }
    &.heel{
        &:before{
            background-image: url(../img/components/w-heel.png);
        }
    }
    &.applique{
        &:before{
            background-image: url(../img/components/w-application.png);
        }
    }
    &.insole{
        &:before{
            background-image: url(../img/components/w-insole.png);
        }
    }
    &.lining{
        &:before{
            background-image: url(../img/components/w-lining.png);
        }
    }
    &.outsole:not(.crystal){
        &:before{
            background-image: url(../img/components/w-outsole.png);
        }
    }
    &.outsole.crystal{
        &:before{
            background-image: url(../img/components/w-not_transparent_crystal.png);
        }
    }
}

[class*='elsevr_men_1_1_component'][id*='component-'] {
    min-height: 125px;
    &:before {
        margin-right: 3px;
        margin-left: 10%;
        content: '';
        z-index: 10;
        width: 60px;
        height: 60px;
        display: inline-block;
        background-size: 60px 60px;
    }

    &.Upper{
        &:before{
            background-image: url(../img/components/m-upper-facing-dark.png);
        }
    }
    &.winged.toe.cap{
        &:before{
            background-image: url(../img/components/m-front-dark.png);
        }
    }
    &.vamp{
        &:before{
            background-image: url(../img/components/m-middle-dark.png);
        }
    }
    &.tongue{
        &:before{
            background-image: url(../img/components/m-tongue-dark.png);
        }
    }
    &.back.strap{
        &:before{
            background-image: url(../img/components/m-back-strap-dark.png);
        }
    }
    &.heel{
        &:before{
            background-image: url(../img/components/m-heel-dark.png);
        }
    }
    &.lining{
        &:before{
            background-image: url(../img/components/m-lining-dark.png);
        }
    }
    &.insole{
        &:before{
            background-image: url(../img/components/m-insole-dark.png);
        }
    }
    &.outsole{
        &:before{
            background-image: url(../img/components/m-outsole-dark.png);
        }
    }
    &.back {
        &:before{
        background-image: url(../img/components/m-back-strap-dark.png);
        }
    }
    &.laces {
        &:before{
        background-image: url(../img/components/laces_new-dark.png);
        }
    }
    &.monogram {
        &:before{
            background-image: url(../img/components/m-monogram-dark.png);
            //display: none;
        }
    }
}

// right panel
.play-rotate span:first-child{
    background-image: url("../img/options/play.png");
    background-repeat: no-repeat;
    background-position-x: 8%;
    background-position-y: 55%;
    background-size: 24px;
}

.pause-rotate span:first-child{
    background-image: url("../img/options/pause.png");
    background-repeat: no-repeat;
    background-position-x: 8%;
    background-position-y: 55%;
    background-size: 24px;
}
