.store_22{
  .stgallen-hidden{
    display: none;
  }
  .stgallen-show{
    display: inline-block;
  }
  .back-to-config{
    .justify-content(flex-start);
  }
  .page-session-code{
    background: white;
    .session-code{
      top: 63%;
      label{
        color: black;
        text-shadow: none;
      }
    }
    .stgallen-logo-img{
      .flex-container();
      position: absolute;
      height: auto;
      width: 500px;
      top: 1%;
      left: 30%;
      .align-items(center);
      .flex-direction(column);
      .justify-content(center);
    }
  }
  .component {
      &.monogram{
        display: none;
      }
      &.monogram {
        display: none;
      }
  }
  .order-icon {
    display: none;
  }
  .go-order {
    span.text {
      margin: auto;
    }
  }

}