.store_22{
  .stgallen-hidden{
    display: none;
  }
  .stgallen-show{
    display: inline-block;
  }
  .back-to-config{
    .justify-content(flex-start);
  }
  .page-session-code{
    background: white;
    .session-code{
      top: 63%;
      label{
        color: black;
        text-shadow: none;
      }
    }
    .stgallen-logo-img{
      .flex-container();
      position: absolute;
      height: auto;
      width: 500px;
      top: 1%;
      left: 30%;
      .align-items(center);
      .flex-direction(column);
      .justify-content(center);
    }
  }
  .component {
      &.monogram{
        display: none;
      }
      &.monogram {
        display: none;
      }
  }
  .order-icon {
    display: none;
  }
  .go-order {
    span.text {
      margin: auto;
    }
  }
  .factor-score{
    display: flex;
    background-position-y: 72%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    color: #000;
    margin-left: 1rem;
    font-size: 24px;
    background-size: 90%;
  }
  #mirror-patent{
    display: none !important;
  }
}