.vr-header{
  height: 10vh;
}

.store_18 {
  .session-code-screen, .page-staff-login, .page-session-code, #product-list-screen {
    background: url(../img/bg.png)!important;
    //background-size: contain;
  }
  .logo-section span {
    color: white;
    margin-left: 24px;
  }
}

.page-store-selection{
  background: url(../img/bg.png)!important;
  //background-size: contain;
}